<vui-responsive-header>
  <div logoSlot>logofln</div>
  <span>selamke</span>
</vui-responsive-header>

<vui-tabs>
  <vui-tab title="Tab 1">
    <span>Tab 1 content</span>
  </vui-tab>
  <vui-tab title="Tab 2">
    <span>Tab 2 content</span>
  </vui-tab>
  <vui-tab title="Tab 3" [disabled]="true">
    <span>Tab 3 content</span>
  </vui-tab>
  <vui-tab title="Tab 4">
    <span>Tab 4 content</span>
  </vui-tab>
  <vui-tab title="Tab 5">
    <span>Tab 5 content</span>
  </vui-tab>
  <vui-tab title="Tab 6">
    <span>Tab 6 content</span>
  </vui-tab>
  <vui-tab title="Tab 7">
    <span>Tab 7 content</span>
  </vui-tab>
</vui-tabs>

<vui-alert
  type="info"
  [dismissible]="true"
  message="This is an info alert."
></vui-alert>
<vui-alert
  type="success"
  [dismissible]="false"
  message="This is a success alert."
></vui-alert>
<vui-alert
  type="warning"
  [dismissible]="true"
  message="This is a warning alert."
></vui-alert>
<vui-alert
  type="error"
  [dismissible]="true"
  message="This is an error alert."
></vui-alert>
