// Renkler
$primary-color: #3498db;
$secondary-color: #2ecc71;
$warning-color: #f1c40f;
$error-color: #e74c3c;
$success-color: #27ae60;

// Kullanıcı Tanımlı Renkler
$custom-color-1: #ff9800;
$custom-color-2: #9c27b0;
$custom-color-3: #607d8b;

// Renk Sınıfları
$primary-color-class: "primary-color";
$secondary-color-class: "secondary-color";
$warning-color-class: "warning-color";
$error-color-class: "error-color";
$success-color-class: "success-color";
$custom-color-1-class: "custom-color-1";
$custom-color-2-class: "custom-color-2";
$custom-color-3-class: "custom-color-3";
