<div class="stepper-container">
  <ul class="stepper-header" *ngIf="renderHeader; else customHeader">
    <li
      class="step-header"
      *ngFor="let step of steps; let i = index"
      [ngClass]="{
        active: i === activeStepIndex,
        complete: i < activeStepIndex
      }"
    >
      <span *ngIf="showStepNumber" class="step-number">{{ i + 1 }}</span>
      <span class="step-title">
        {{
          {
            showOnlyActiveStepTitle: showOnlyActiveStepTitle,
            title: step.title,
            index: i,
            activeStepIndex: activeStepIndex
          } | vuiStepTitle
        }}
      </span>
    </li>
  </ul>

  <ng-template #customHeader>
    <div class="stepper-header">
      <ng-content select="[step-header]"></ng-content>
    </div>
  </ng-template>

  <div class="step-content">
    <ng-content></ng-content>
  </div>

  <div class="step-actions" *ngIf="navigation">
    <button
      (click)="prevStep()"
      class="vui-btn vui-btn-primary"
      [disabled]="activeStepIndex === 0"
    >
      Previous
    </button>
    <button
      class="vui-btn vui-btn-success"
      (click)="nextStep()"
      [disabled]="activeStepIndex === steps.length - 1"
    >
      Next
    </button>
  </div>
</div>
