.alert {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.alert-message {
  flex: 1;
  color: #ffffff;
}

.alert-close {
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 18px;
  margin-left: 10px;
  color: #ffffff;
}

.alert-info {
  background-color: $primary-color;
}

.alert-success {
  background-color: $secondary-color;
}

.alert-warning {
  background-color: $warning-color;
}

.alert-error {
  background-color: $error-color;
}
